
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Inter:wght@400;500;700&display=swap');
/* 
font-family: 'DM Sans', sans-serif;
font-family: 'Inter', sans-serif;
color : #FFE492;
        #4F9CF9;
        #043873;
 */
body{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    /* background-color: #C4DEFD;
    color: #fff; */
}
.theme-button{
    display: inline-block;
    background: #4F9CF9;
    border-radius: 8px;
    padding: 16px 24px !important;
    
    text-decoration: none;
    color: #fff;
}
.theme-button:hover{
    color: #fff;
}
.theme-button-two{
    display: inline-block;
    background: #FFE492;
    border-radius: 8px;
    padding: 16px 24px !important;
    color: #043873 !important;
    
}
.theme-button-three{
    display: inline-block;
    background: #fff;
    border: 1px solid #FFE492;
    border-radius: 8px;
    padding: 16px 24px !important;
    color: #043873 !important;
    text-decoration: none;
    
}
.theme-button img{
    margin-left: 10px;
}
.theme-text h3{
    font-size: 68px;
    color: #212529;
    margin-bottom: 15px;
}
.theme-text h3 span{
    position: relative;
    z-index: 1;
}
.theme-text h3 span::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 60px;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-image: url(img/element.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.theme-text p{
     color: #212529;
}
@media ( max-width: 991px) {
    .theme-text{
        text-align: center;
    }
    .theme-text h3{
        font-size: 36px;
    }
}
/* Header CSS */
.header-area{
    background-color: #043873;
    padding: 16px 0;
}
.header-area .theme-button{
    margin-left: 24px;
}
.header-area .theme-button-two{
    margin-left: 24px;
}
.header-area .nav-link{
    color: #ffffff !important;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    padding: 16px 24px !important;
}
.header-area .navbar-toggler{
    border: none;
    box-shadow: none;
}
@media ( max-width: 991px) {
    .theme-button{
      width: 100%;
      text-align: center;
      margin-left:0;
      margin-top: 15px;
    }
    .theme-button-two{
        width: 100%;
       text-align: center;
        margin-left: 0px;
        margin-top: 15px;
    }
    
    .header-area .nav-link{
      
        padding: 16px 0px !important;
    }
    .header-area .nav-link{
        position: relative;
    }
    .header-area .nav-link::after{
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
    }
}
/* Hero CSS */
.hero-area{
    padding: 140px 0;
    background-image: url(img/hero-section.png);
    background-size: cover;
    background-position: center;
}
.hero-text h3{
    font-weight: 700;
    font-size: 52px;
    line-height: 77px;
    color: #fff;
}
.hero-text p{
    color: #fff
}
.hero-area .theme-button{
    margin-top: 30px;
}
@media ( max-width: 991px) {
    .hero-area{
        padding: 80px 0;
    }
   .hero-text{
    text-align: center;
   }
   .hero-text h3{
    font-size: 36px;
   }
   .hero-area .theme-button{
    margin-bottom: 50px;
   }
   .header-area .theme-button{
    margin-left: 0px;
   }
    .header-area .theme-button-two{
     margin-left: 0px;
    }
}

/* management area */
.management-area{
    background-color: #fff;
    padding: 140px 0;
}
.work-management{
    margin-top: 100px;
}
@media ( max-width: 991px){
    .management-area{
        
        padding: 80px 0;
    }
    .work-management{
        margin-top: 60px;
    }
    .management-area .theme-button{
        margin-bottom: 50px;
    }
}
/* Extansion area CSS */
.extansion-area{
    padding: 140px 0;
    background-color: #043873;
}
.extansion-area .theme-text h3{
    color: #fff;
}
.extansion-area .theme-text p{
    color: #fff;
}
@media ( max-width: 991px) {
    .extansion-area{
        padding: 80px 0;
    }
    .extansion-area .theme-button{
        margin-bottom: 50px;
    }
}

/* Customise Area CSS */
.customise-area{
    padding: 140px 0;
}
@media ( max-width: 991px){
    .customise-area{
        padding: 80px 0;
    }
}
/* Pricing Area CSS */
.pricing-area{
    padding: 140px 0;
}
.single-pricing{
    border: 1px solid #FFE492;
    border-radius: 10px;
    padding: 40px 44px;
}
.single-pricing h4{
    font-size: 24px;
    font-weight: 600;
}
.single-pricing h2{
    font-size: 36px;
    font-weight: 700;
    margin: 20px 0;
}
.single-pricing ul {
    margin: 0;
    padding: 0;
    margin: 25px 0;
}
.single-pricing ul li{
    list-style: none;
    margin-bottom: 28px;
}
.single-pricing ul li:last-child{
    margin: 0;
}
.special-pricing {
    padding: 80px 44px;
    background-color: #043873;
    color: #fff;
}
.special-pricing h2{
    color: #FFE492;
}
@media ( max-width: 991px){
    .pricing-area {
        padding: 80px 0px;
    }
    .single-pricing{
        margin-bottom: 30px;
    }

}
/* Your work area CSS */
.work-area{
    padding: 140px 0;
    background-color: #043873;
    
}
.work-area .theme-text h3{
    color: #fff;
}
.work-area .theme-text p{
    color: #fff;
}
@media ( max-width: 991px){
    .work-area{
        padding: 80px 0;
        }
}
/* task-area SS */
.task-area{
    padding: 140px 0;
}
@media ( max-width: 991px){
    .task-area{
        padding: 80px 0;
        }
}
/* sponsors-area CSS */
.sponsors-area{
    padding: 140px 0;
}
.sponsors-area .theme-text{
    margin-bottom: 80px;
}
.single-sponsors img{
    height: 55px;
    width: auto;
}
@media ( max-width: 991px){
    .sponsors-area{
        padding-top: 80px;
        padding-bottom: 30px;
        }
        .single-sponsors{
            margin-bottom: 50px;
        }
}
/* App area */
.app-area{
    padding:140px 0;
    background-color: #043873;
    background-image: url(img/element-3.png);
    background-size: cover;
    background-position: center;
}
.app-area .theme-text h3{
    color: #fff;
}
.app-area .theme-text p{
    color: #fff;
}
@media ( max-width: 991px){
    .app-area{
        padding: 80px 0;
    }
    .app-image{
        margin-bottom: 50px;
    }
}
 /* Testimonial area */
 .testimonial-area{
    padding: 140px 0;

 }
 .single-tastimonial{
    background: #4f9cf9;
    box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 50px 30px;
 }
 .testimonial-area .theme-text{
    margin-bottom: 50px;
 }
 .tastimonial-text{
    border-bottom: 1px solid #fff;
   
 }
 .tastimonial-text img{
    margin-bottom: 40px;
    height: 60px;
    width: auto !important;
 }
 .tastimonial-text p{
    margin-bottom: 25px;
    color: #fff;
 }
 .tastimonial-author{
    margin-top: 40px;
    display: flex;
 }
 .author-img{
    margin-right: 25px;
 }
 .author-text h3{
    font-size: 24px;
    color: #043873;
 }
 .author-text p{
    margin-bottom: 0;
    color: #fff;
 }
 .testimonial-area .owl-dots{
    text-align: center;
    margin-top: 50px;
 }
.testimonial-area .owl-dots button{
    height: 15px;
    width: 15px;
    background-color: #4f9cf9 !important;
    border-radius: 50%;
    margin: 0 5px;
}
.testimonial-area .owl-dots button.active{
    background-color: #043873 !important;
}
@media ( max-width: 991px) {
    .testimonial-area{
        padding: 80px 0;
    }
}
/* trial area */
.trial-area{
    padding: 140px 0;
    background-color: #043873;
}
.trial-text h3{
    font-size: 72px;
    color: #fff;
}
.trial-text p{
    font-size: 24px;
    color: #fff;
}
.trial-area .theme-button{
    margin: 20px 0;
}
.trial-img{
    margin-top: 40px;
}
.trial-img a{
    margin: 0 20px;
}
@media ( max-width: 991px) {
    .trial-area{
        padding: 80px 0;
        
    }
    .trial-text h3{
        font-size: 36px;
        
    }
    .trial-text p{
        font-size: 18px;
        
    }
    .trial-img a{
        margin: 0;
        margin-right: 40px;
    }
}